<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/movies_app/static/style.css">
    <title>user profile</title>
</head>
<body class="bg-jpy">

    <!--NAVBAR-->
    <nav class="navbar navbar-expand-md navbar-dark bg-jpr">
        <a class="jurassic-nav mr-3" href="#">WMRE</a>
        <button class="navbar-toggler" type="button" data-toggle:"collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="text-light nav-item active">
                    <a class="nav-link active" href="/movies">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users">Users<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li>
                    <a class="nav-link active" href="/user/{{user.id}}">Welcome, {{user.user_name}}</a>
                </li>
                <li class="nav-link">
                    |
                </li>
                <li>
                  <a href="/{{log}}" class="nav-link">{{log}}</a>
                </li>
              </ul>
        </div>
        </div>
    </nav>

    <!--MOVIE PAGE-->
    <div class="information d-flex justify-content-around pl-3 pr-3">
        <div class="col bg-success p-4 my-3 text-light">
            <div class="profile-head">
                <h2>{{movie.title}} ({{movie.year}})</h2>
                <div class="actions">
                    <a href="/movies/edit/{{movie.id}}" class="btn btn-warning">Edit Movie</a>
                    <a href="/movies/eliminate/{{movie.id}}" class="btn btn-danger">Delete Movie</a>
                </div>
            </div>
            <div class="profile-body">
                <div class="profile-info">
                    <p>Director: {{movie.director}}</p>
                    <p>Studio: {{movie.studio}}</p>
                    <p>Genre: {{movie.genre}}</p>
                    <p>Synopsis:</b> {{movie.synopsis}}</p>
                </div>
                <div class="user-favs">
                    <table class="table col bg-jpg p-4 my-3 text-light mr-3">
                        <thead>
                            <tr>
                                <th>Liked By</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in movie.liked_by %}
                            <tr>
                                <td>
                                    <a href="/users/{{user.id}}" class="text-light">
                                        {{user.user_name}}
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    

<!--SCRIPTS--> 
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>